<div class="card bg-light">
    <article class="card-body margin">
        <div class="col-md-6">
            <div class="search-bar mb-30">
                <label for="inputNombre" class="form-label text">Filtro por nombre</label>
                <input type="text" id="inputNombre" class="form-control" placeholder="ingrese nombre de alumno" (keyup)="searchAlumn($event)">
            </div>
        </div>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">EDAD</th>
                    <th scope="col">CARRERA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataAlumn | async">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.edad}}</td>
                    <td>{{item.carrera}}</td>
                </tr>
            </tbody>
        </table>
    </article>
</div>